# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Know some common Phyton's libraries used in Data Science
* See three examples of open source tools used in Data Science
* Evaluate basic arithmetic in Phyton

## Data Science Languages
Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. Java
4. SQL
5. C++
6. Julia
7. Scala

## Data Science Libraries
In Phyton language, some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. ScyPy
4. Matplotlib

## Data Science Tools
Three examples of open source tools used in data science.
|Data Science Tools|
|------------------|
| MySQL |
| Apache Air Flow |
| GitHub |

## Arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Below a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# The following line converts 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Gabriel de Albuquerque Silva